aside {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: rgb(238, 238, 238);
  color: #000;
}

nav {
  margin-top: 50px;
  margin-left: 20px;
}

nav a {
  display: block;
  margin: 10px 0;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding-left: 200px;
}

main > section {
  padding: 20px;
}

