aside {
  position: fixed;
  width: 200px;
  height: 100vh;
  background-color: rgb(238, 238, 238);
  color: #000;
}

nav {
  margin-top: 50px;
  margin-left: 20px;
}

nav a {
  display: block;
  margin: 10px 0;
  color: #000;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding-left: 200px;
}

main > section {
  padding: 20px;
}

.image-container {
  display: flex;
  margin: 10px 0;
  align-items: center;
}

.image-item {
  width: 500px;
}

.image-item img {
  max-width: 500px;
  min-height: 250px;
}

.image-action {
  padding: 0 20px;
}
